<div id="modal">
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Make a post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="clearfix mb-4">
                        <div class="form-group">
                            <label for="example-code">Code</label>
                            <textarea type="text" id="codeBlock" class="form-control" aria-describedby="example-text" placeholder="Enter Code"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="example-description">Description</label>
                            <textarea class="form-control" id="description" aria-describedby="example-description" placeholder="Enter Description"></textarea>
                        </div>
                        <div class="dropdown">
                            <button onclick="myFunction()" class="dropbtn">Language</button>
                            <div id="myDropdown" class="dropdown-content">
                                <a href="javascript">JavaScript</a>
                                <a href="java">Java</a>
                                <a href="cpp">C++</a>
                                <a href="csharp">C#</a>
                            </div>
                        </div>
                        <button id="submitSnippet" class="btn btn-light float-right">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="close" type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">

        {{!-- Sidebar --}}
        <div class="col-md-3">
                <div class="sidebar">
                    <br>
                    <br>
                    <h3 class="userField">{{username}}</h5>
                        <p class="text">Some text</p>
                </div>

                {{!-- Sidebar As Card --}}
                
        </div>



        {{!-- Snippet Cards --}}
        <div class="col-md-9 snippets">
            
            <div>
                {{#each snippets}}
                <div class="card" style="width: 100%">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{this.title}}
                        </h5>

                        <h6 class="card-subtitle mb-2 text-muted">
                            {{this.User.username}}
                        </h6>

                        <pre><code class="language-{{language}} codeBlock">{{codeBlock}}</code></pre>

                        <p class= "card-text" id="snippet-description">{{description}}</p>

                        <form>
                            <div class="form-group">
                                <label for="commentText">Comment</label>
                                <input type="text" class="form-control" id="commentText" data-id={{this.id}}>
                            </div>
                            <button id="submitComment" class="btn btn-warning">Comment</button>
                        </form>


                        <br>
                        <div class="comments" id={{this.id}}>
                            
                            {{!-- JSON rendered on load --}}
                            {{#each this.Comments}}
                            <p>{{comment}} - - {{username}}</p>
                            {{/each}}

                            {{!-- New comments will append here --}}


                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>



{{!-- Scripts --}}
<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>