<div class="container">
    <div class="row">

        {{!-- Snippet Cards --}}
        <div class="col-md-12 snippetsLang">
            {{#each snippets}}
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title">
                        {{title}}
                    </h5>

                    <h6 class="card-subtitle mb-2 text-muted">
                        {{User.username}}
                    </h6>

                    <pre><code class="language-{{language}} codeBlock">{{codeBlock}}</code></pre>

                    <p class="card-text text-muted">{{language}}</p>
                    <p class="card-text" id="snippet-description">{{description}}</p>

                    <form class="commentForm">
                        <div class="form-group commentFormText">
                            <label for="commentText">Comment</label>
                            <input type="text" class="form-control commentText" name="comment">
                        </div>
                        <button class="btn btn-warning submitComment" data-id={{this.id}}>Comment</button>
                    </form>


                    <br>
                    <div class="comments" id={{this.id}}>

                        JSON rendered on load 
                        {{#each this.Comments}}
                        <p>{{comment}} - - {{username}}</p>
                        {{/each}}  
                        {{!-- New comments will append here --}}


                    </div>
                </div>

            </div>
            {{/each}}
        </div>
    </div>
</div>